.result-block{
    background-color: coral;
    margin-left: auto;
    width: 80%;
    margin-right: auto;
    min-height: 20%;
    max-height: 40%;
}

.result-image{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: block;
}

.result-text{
    font-family:"Comic Sans MS";
}

.result-image-holder{
    margin-left:auto;
    margin-right:auto;
    height: 80%;
    width:80%;
}