.result-block{
    margin:auto;
    width:80%;
}

.result-image{
    height:20%;
}

.result-text{
    text-align: center;
}

.result-image-holder{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}