.answer-buttton{
    font-size: 5vmin;
    background-color: #ffffff;
    color: #0F98E9;
    border-width:2px;
    border-radius:0px;
    border-style:solid;
    border-color:0F98E9;
    font-family:"Segoe UI";
    font-weight: bold;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-left:5%;
    padding-right:5%;
    width:90%;
}

.clickable{
    background-color:white;
    border-color:0F98E9;
}

.clickable:hover{
    background-color:#d5e1f4;  
}

.selected{
    background-color:#93b1e0;
}

.good{
    border-color:seagreen;
    background-color: #b6edc1;
}

.wrong{
    border-color:#b53636;
    background-color: #dba8a8;
}

.locked{
    background-color:#e3e3e3;
}

.poll{
    border-color:#b9c464;
}