.result-block{
    margin:auto;
    width:80%;
    margin-top:10%;
    margin-bottom:10%;
}

.result-image{
    height:10%;
}

.result-text{
    text-align: center;
}

.result-image-holder{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}