.user-name{
    font-size:5vmin;
    color:seagreen;
    text-align: center;
}

.compteur{
    margin-left:auto;
    margin-right:auto;
    display: block;
    text-align: center;
    margin-top:5%;
    margin-bottom:5%;
}