.questionnary{
    border-style: solid;
    border-width: 1px;
    border-color: #0F98E9;
    padding:2vmin;
    margin-left:2vmin;
    margin-right:2vmin;
}

.questionnary:hover{
    background-color:#d5e1f4;
}

.questionary-title{
    text-align: center;
}

.answer-node{
    font-weight: bold;
    font-size: 3vh;
}

.true{
    color: forestgreen;
}

.false{
    color:indianred;
}

.compteur{
    margin-left:auto;
    margin-right:auto;
    display: block;
    text-align: center;
    margin-top:5%;
    margin-bottom:5%;
}

.center-text{
    text-align: center;
}

.center-button-container{
    margin-left:auto;
    margin-right:auto;
    display: block;
    text-align: center;
    margin-top:5%;
}