*{
    font-family:"Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    margin-top:0px;
    margin-bottom:0px;
}

body{
    margin:0;
    background-color: #394EA1;
    height:100%;
}

.middle-content{
    height:80%;
}

.index-title{
    font-weight: 600;
    text-align: center;
    color:#8ba0c0;
    font-size:400%;
}

.index-button{
    font-size: 200%;
    font-weight: bold;
    background-color: #8ba0c0;
    color: #3e0495;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-color:white;
    border-style:solid;
}


.answer-button{
    font-size: 200%;
    font-weight: bold;
    background-color: #bf4263;
    color: #d8b861;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-color:#bc2323;
    border-style:solid;
}

.answer-button-blocked{
    font-size: 200%;
    font-weight: bold;
    background-color: #7b7b7b;
    color: #141414;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-color:#000000;
    border-style:solid;
}


.text-input{
    font-size: 200%;
    font-weight: bold;
    background-color: #8ba0c0;
    color: #3e0495;
    display:block;
    padding-left:2%;
    padding-right:2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10%;
    border-color:white;
    border-style:solid;
    border-width: 0px 0px 1px 0px;
}

.index-button:hover{
    background-color:#abc0e0;
}

.feaderTitle{
    text-align:center;
}

.feader{
    background-color:#eeeeee;
    height:10%;
}

