*{
    font-family:"Roboto", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    margin-top:0px;
    margin-bottom:0px;
}

body{
    margin:0;
    background-color: #ffffff;
    height:100%;
}

.middle-content{
    height:80%;
}

.index-title, .index-title-little{
    font-weight: bold;
    text-align: center;
    color:#f83030;
    font-size:10vmin;
    margin-bottom:6vh;
    padding-top:6vh;
    background-color: rgba(255, 255, 255, 0);
}

.medium-title{
    font-size:6vmin;
}

.medium-subtitle{
    font-size:5vmin;
}

.index-title-little{
    font-size:5vmin;
}

.index-button-md{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.index-button, .index-button-big{
    font-size: 5vmin;
    background-color: #ffffff;
    color: #0F98E9;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-color:#0F98E9;
    border-style:solid;
    border-radius:0px;
    padding-left:5%;
    padding-right:5%;
    margin-bottom:0;
    margin-top:5vh;
}

.index-button-big{
    font-size:10vmin;
    font-weight: bold;
    border-radius:0px;
}

.text-input{
    font-size: 5vmin;
    font-weight: bold;
    background-color: white;
    color: #3d71ff;
    display:block;
    padding-left:2%;
    padding-right:2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10%;
    border-color:0F98E9;
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    width:70%;
}

.text-input:focus{
    outline-width: 0;
}

.index-button:hover, .index-button-big:hover{
    background-color:#d5e1f4;
}

.feaderTitle{
    text-align:center;
    font-size:3vh;
        font-weight: normal;
}

.feader{
    background-color:#3d71ff;
    color:white;
    height:5%;

}

ul{
    list-style-type: none;
    padding:0px;
}

ul li{
    margin:10px;
}

.answer{
    font-weight: bold;
    color:#1988cb;
    font-size:5vmin;
}

.pie-chart-counter{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:20%;
    margin-top:10%;
    margin-bottom:10%;
}